<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Tests4GoPro" parallel="tests" thread-count="1">
   <test name = "Romania">
   <parameter name="Country" value="Romania" />
      <classes>
         <class name = "GoProTests.RoTest" />                
      </classes>
   </test> 
</suite>